html {
    font-size: 100%;
}
body {
    font-family: 'Noto Sans', Tahoma, sans-serif;
}

h4 {
    font-family: 'Fauna One', serif;
    font-size: 1.7em;
    color: #07A;
}
h5 {
    font-family: 'Fauna One', serif;
    font-size: 1.6em;
    color: #000;
}

select, option, input[type="text"] {
    font-size: 1.6em;
}

p {
    font-size: 1.4em;
}

.pgraphgaptop {
    margin-top: 25px;
}
.pgraphgapbottom {
    margin-bottom: 80px;
}
.stocksymbol {
    font-family: monospace;
    color: firebrick;
    font-weight: bold;
}
.help-block {
    color: red;
    background-color: bisque;
    padding: 10px 10px 10px 10px;
}
.marketheadings {
    margin-bottom: 10px;
}
.markethdr {
    margin-bottom: 15px;
}
@media(max-width: 767px) {
    .marketheadings {
        margin-top: 10px;
    }
    .markethdr {
        margin-top: 25px;
    }

}
table > tbody > tr > td,
table > tbody > tr > td > a {
    padding-bottom: 15px;
}
.footer {
    background-color: #CCC;
}
.ng-invalid.ng-dirty {
    color: red;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 22px;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand > img {
    display: block;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
/* TOP MENU BAR BACKGROUND*/
.navbar-default {
    background-color: #07A;
}

@keyframes spacecreate {
    0% { letter-spacing: -5px; }
    100% { letter-spacing: 0px; }
}
@-webkit-keyframes spacecreate {
    0% { letter-spacing: -5px; }
    100% { letter-spacing: 0px; }
}
@-moz-keyframes spacecreate {
    0% { letter-spacing: -5px; }
    100% { letter-spacing: 0px; }
}
@-ms-keyframes spacecreate {
    0% { letter-spacing: -5px; }
    100% { letter-spacing: 0px; }
}

/******* Site Brand Logo **************/
.navbar-default .navbar-brand {
    color: #FFF;
    font-family: 'Fauna One', serif;
    font-size: 2em;
    animation: spacecreate 2s;
    -webkit-animation: spacecreate 2s;
    -moz-animation: spacecreate 2s;
    -ms-animation: spacecreate 2s;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
.navbar-default .navbar-text {
    color: #FFF;
}
/******************* main top menu **********************/
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-family: 'Fauna One', serif;
    font-size: 1.7em;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FFF;
    background-color: #0AF;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
}
.navbar-default .navbar-nav > li > a:focus {
    background-color: #OAF;
}

/******************************************************/

.navbar-toggle .icon-bar {
    height: 4px;
    width: 30px;
}
/************ THREE LINE RESPONSIVE MENU ************************/
.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-toggle:hover{
    background-color: transparent;
}
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
/* Icon Bar Color */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}
.navbar-nav > li > a > i {
    float: left;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a > i {
        display: none;
    }
}
.carousel-control {
    position: absolute;
    top: 45%;
    bottom: 25%;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 9px 9px rgba(0, 0, 0, .9);
    filter: alpha(opacity=100);
    opacity: 1;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    top: 0;
    left: 0;
    line-height: 1;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;

}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: none;
    outline: 0;
    opacity: 1;
}


.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  width: 40px;
  border-radius: 0px;
}
.carousel-indicators .active {
  width: 40px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    top: 20px;
    bottom: auto;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
/*    color: #fff;*/
    color: #07A;
    text-align: center;
    text-shadow: 0 3px 1px rgba(0, 0, 0, .9);
    font-family: 'Fauna One', serif;
    font-size: 1.4em;
}

/****************** Biznews forward back buttons ********************/
button.smallsizebutton {
    background-color: powderblue;
    color: #000;
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    border: none;
    margin: 5px 8px 20px 8px;
}

button.smallsizebutton:focus {
/*    outline: none;*/
}
.blquote {
    background-color: lemonchiffon;
    border-radius: 15px;
    border-left-color: #07A;
}
/* ************************************************************ */
#xyAxis {
    height: 200px;
    width: 100%;
    border-bottom: #CCC solid 1px;
    background-color: inherit;
}
/* ad @-ms-keyframes ... */
@keyframes flickerin {
    0%{opacity:0.4;} 35%{opacity:1;} 75%{opacity:0;} 100%{opacity:0.4;}
}
@-webkit-keyframes flickerin {
    0%{opacity:0.4;} 35%{opacity:1;} 75%{opacity:0;} 100%{opacity:0.4;}
}
@-moz-keyframes flickerin {
    0%{opacity:0.4;} 35%{opacity:1;} 75%{opacity:0;} 100%{opacity:0.4;}
}
@-ms-keyframes flickerin {
    0%{opacity:0.4;} 35%{opacity:1;} 75%{opacity:0;} 100%{opacity:0.4;}
}
@keyframes bulge {
    0%{height:50%;} 35%{height:20%;} 75%{height:90%;} 100%{height:50%;}
}
@-webkit-keyframes bulge {
    0%{height:50%;} 35%{height:20%;} 75%{height:90%;} 100%{height:50%;}
}
@-moz-keyframes bulge {
    0%{height:50%;} 35%{height:20%;} 75%{height:90%;} 100%{height:50%;}
}
@-ms-keyframes bulge {
    0%{height:50%;} 35%{height:20%;} 75%{height:90%;} 100%{height:50%;}
}
.pillar {
    display: inline-block;
    background-color: inherit;
    width: 3%;
    height: 100%;
}
.motionbar {
    display: inline-block;
    width: 15%;
    height: 100%;
}
#bar0 {
    height: 50%;
    background-color: coral;
    animation: bulge 2s ease 0s infinite;
    -webkit-animation: bulge 2s ease 0s infinite;
    -moz-animation: bulge 2s ease 0s infinite;
    -ms-animation: bulge 2s ease 0s infinite;
}
#bar1 {
    height: 25%;
    background-color: rosybrown;
    animation: flickerin 4s ease 0s infinite;
    -webkit-animation: flickerin 4s ease 0s infinite;
    -moz-animation: flickerin 4s ease 0s infinite;
    -ms-animation: flickerin 4s ease 0s infinite;
}
#bar2 {
    height: 50%;
    background-color: cornflowerblue;
    animation: bulge 6s ease 0s infinite;
    -webkit-animation: bulge 6s ease 0s infinite;
    -moz-animation: bulge 2s ease 0s infinite;
    -ms-animation: bulge 2s ease 0s infinite;
}
#bar3 {
    height: 60%;
    background-color: springgreen;
    animation: flickerin 2s ease 0s infinite;
    -webkit-animation: flickerin 2s ease 0s infinite;
    -moz-animation: flickerin 2s ease 0s infinite;
    -ms-animation: flickerin 2s ease 0s infinite;
}
#bar4 {
    height: 30%;
    background-color:firebrick;
    animation: bulge 8s ease 0s infinite;
    -webkit-animation: bulge 8s ease 0s infinite;
    -moz-animation: bulge 2s ease 0s infinite;
    -ms-animation: bulge 2s ease 0s infinite;
}

#bar5 {
    height: 80%;
    background-color: plum;
    animation: flickerin 6s ease 0s infinite;
    -webkit-animation: flickerin 6s ease 0s infinite;
    -moz-animation: flickerin 6s ease 0s infinite;
    -ms-animation: flickerin 6s ease 0s infinite;
}
/* ******************************************************************************* */

