<div class="col-xs-10 col-xs-offset-1">
    <h3>About</h3>
    <p>Our primary goal is to introduce investing to teenagers so that they may develop an interest in finance.   Secondly, we want to enhance their overall investing acumen so they may benefit from it throughout their lives.  We aim to give users a website where they can act like investors with real financial data and can simulate the investment process.
    </p>
    <h3>Technology Stack</h3>
    <p>We are passionate about using the latest and greatest technologies to for the benefit and convenience of the user.
    </p>
    <div class="techGalleryImg">
        <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
            <img src="img/html5.png">
        </a>
    </div>
    <div class="techGalleryImg">
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3">
            <img src="img/css3.png">
        </a>
    </div>
    <div class="techGalleryImg">
        <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
            <img src="img/js.png">
        </a>
    </div>
    <div class="techGalleryImg">
        <a href="https://angularjs.org">
            <img src="img/AngularJS.png">
        </a>
    </div>
    <div class="techGalleryImg">
        <a href="http://getbootstrap.com">
            <img src="img/bootstrap.png">
        </a>
    </div>

    <div class="techGalleryImg">
        <a href="http://d3.org">
            <img src="img/d3js.png">
        </a>
    </div>
    <h3>APIs</h3>
    <p>
        A very special thank you to
        <a href="https://www.quandl.com">QUANDL API</a>
        for stocks as well as
        <a href="http://www.wunderground.com/weather/api/">Weather Underground</a>
        for weather.
    </p>
</div>
<!--
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://goo.gl/0sX3jq">
                    </div>
                    <div class="thumbnail">
                        <img src="http://goo.gl/an2HXY">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://goo.gl/Av1pac">
                    </div>
                    <div class="thumbnail">
                        <img src="http://goo.gl/vw43v1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="http://goo.gl/0Kd7UO">
                    </div>
                </div>

-->
