<div class="col-xs-10 col-xs-offset-1">
    <h4>About</h4>
    <p>Our primary goal is to introduce investing to young people and novice investors so that they may develop an interest in finance.   Secondly, we want to enhance their overall investment acumen so they may benefit from it throughout their lives.  We aim to give users a place where they can act like investors with real financial data and expand their investment horizons.
    </p>
    <h4 class="pgraphgaptop">APIs</h4>
    <p>We are passionate about using the latest and greatest technologies to for the benefit and convenience of our customers. We use
        <a href="https://www.quandl.com" target="_blank">Quandl</a> for investment data.  Business news related information is provided by <a href="http://developer.nytimes.com" target="_blank">The New York Times Developer API</a>.
    </p>
    <h4 class="pgraphgaptop">Technology Stack</h4>
    <div>
        <table class="table table-striped">
            <tr>
                <td><a href="https://angularjs.org" target="_blank">Angular.js</a></td>
                <td>Lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</td>
            </tr>
            <tr>
                <td><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></td>
                <td>The most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</td>
            </tr>
            <tr>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3" target="_blank"
                       >CSS3</a></td>
                <td>Adds styling to HTML.  CSS3 extends its predecessor by adding many new features such as rounded corners, shadows, gradients, transitions or animations, as well as new layouts like multi-columns, flexible box or grid layouts.</td>
            </tr>
            <tr>
                <td><a href="https://d3js.org/" target="_blank">D3.js</a></td>
                <td>A JavaScript library for manipulating documents based on data. D3 helps you bring data to life using HTML, SVG, and CSS.</td>
            </tr>
            <tr>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML"
                        target="_blank">HTML5</a></td>
                <td>The core language of nearly all Web content. It is the language that describes the structure and the semantic content of a Web document.</td>
            </tr>
            <tr>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></td>
                <td>A lightweight, interpreted, programming language with first-class functions. Most well-known as the scripting language for Web pages, many non-browser environments also use it, such as node.js and Apache CouchDB.</td>
            </tr>
            <tr>
                <td><a href="http://fgnass.github.io/spin.js/" target="_blank">Spin.js</a></td>
                <td>A JavaScript library that provides a visual indicator that processing or network activity is occuring.</td>
            </tr>
            <tr>
                <td><a href="https://developer.mozilla.org/en-US/docs/Web/SVG"
                        target="_blank">SVG</a></td>
                <td>Scalable Vector Graphics is an XML-based markup language for describing two-dimensional vector graphics.</td>
            </tr>
            <tr>
                <td><a href="http://angular-ui.github.io/ui-router/site/#/api/ui.router"
                       target="_blank">UI Router</a></td>
                <td>The de-facto solution to flexible routing with nested views in AngularJS.</td>
            </tr>
        </table>
    </div>
    <h4 class="pgraphgaptop">Development</h4>
    <p class="pgraphgapbottom">Please bear in mind that this site is an ongoing project.  There will from time to time be other sections, and functionality added.  We openly welcome any suggestions in terms of what type of content users would like to view and also the layout or formatting of the site.</p>
</div>
