<div class="table-responsive">
    <table class="table" ng-if="bizarticles.length">
        <thead>
            <tr>
                <th>NY Times Business News</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in bizarticles | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td>
                    <a href="{{article.url}}" target="_blank">{{ article.title }}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" ng-disabled="currentPage == 0"
            ng-click="currentPage = currentPage - 1">&nbsp;&larr;&nbsp;
    </button>

    {{currentPage+1}} of {{numberOfPages()}}

    <button class="btn btn-success" ng-click="currentPage = currentPage + 1"
            ng-disabled="currentPage >= bizarticles.length/pageSize - 1">&nbsp;&rarr;&nbsp;
    </button>
</div>
