<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">List of Companies</h4>
            </div>
            <div class="modal-body">
                <select name="compListSelect" id="compListSelect" class="form-control"
                      ng-options="cmp for cmp in pairList track by cmp"
                      ng-model="reqParams.symbol" >
                </select>
                <p ng-repeat="cmp in pairList track by cmp">{{cmp.name}} {{cmp.symbol}}</p>
            </div>
        </div>
    </div>
</div>
