<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">List of Companies</h4>
            </div>
            <div class="modal-body">
                <p>Hello CLient </p>
            </div>
        </div>
    </div>
</div>
