<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Company Listing</h4>
            </div>
            <div class="modal-body">
                <select name="compListSelect"
                        id="compListSelect"
                        class="form-control"
                        ng-options="cmp.name for cmp in pairList track by cmp.symbol"
                        ng-model="pair"
                        ng-change="setSymbol()">
                </select>
            </div>
        </div>
    </div>
</div>
