<!-- Display a few graphs of the stocks -->
<div class="col-xs-10 col-xs-offset-1">
    <h3>Investment Research</h3>

    <div id="formWrapperDiv" class = "form-inline">

        <form name="rsForm" class="form-group" ng-submit="getGraph(rsForm.$valid)" novalidate>

            <div class = "input-group">

                <input name="compSelect"
                       id="compSelect"
                       class="form-control"
                       type="text"
                       ng-model="reqParams.pair.symbol"
                       list="dlinv"
                       placeholder="Enter Symbol">


                <div class = "input-group-btn">

                    <button id = "getGraphBtn"
                            type = "submit"
                            class = "btn btn-primary"
                            ng-disabled="rsForm.$invalid">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>

                </div><!-- input-group-btn -->

            </div><!-- input-group -->

        </form><!-- form-group -->

        <div class="form-group">

            <select name="investSelect" id="investSelect" class="form-control"
                  ng-options="timespan for timespan in durations track by timespan"
                  ng-model="reqParams.duration" >
            </select>

        </div><!-- form-group  -->

    </div><!-- form-inline -->

    <error-modal visible="showErrModal"></error-modal>

    <h4><span ng-if="reqParams.pair.symbol">{{ reqParams.pair.name }} </span></h4>

    <div id="stockChartDiv"></div>

</div>
