<!-- Display a few graphs of the stocks -->
<h3>Graph of Investment</h3>

<div class="form-inline">

    <div class="form-group" >
        <label class="sr-only" for="stockInput">Enter Symbol</label>
        <input type="search" class="form-control" placeholder="Symbol" id="stockInput"
               ng-model="stockSymbol">
    </div>
    <div class="form-group">
        <label ng-repeat="tf in durations" for="{{ tf }}" class="radio-inline">
            <input type="radio"
                   ng-model = "chosen.timeframe"
                   ng-value = "tf"
                   id = "{{ tf }}"
                   ng-click = "changeTimeframe()">{{ tf }}
        </label>
<!--        NG-VALUE is the magic that changes the value of chosen.timeframe on each
            click of the radio button with value of tf (from the list of 'durations'
-->
    </div>
    <button type="submit" class="btn btn-primary" ng-click="getGraph()" >
        <i class="glyphicon glyphicon-stats"></i>
    </button>
</div>

<h4><strong>Symbol:</strong> {{ stockSymbol }}</h4>

<div id="stockChartDiv">
</div>
