<div class="col-xs-12">Carousel will go here</div>
<div class="col-xs-12 col-sm-6">
    <div class="table-responsive">
        <table class="table" >
            <thead>
                <tr>
                    <th>New York Local News</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>
                        {{ article.title }}
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success"
                ng-disabled="currentPage == 0"
                ng-click="currentPage = currentPage - 1">
            Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button class="btn btn-success"
                ng-click="currentPage = currentPage + 1"
                ng-disabled="currentPage >= data.length/pageSize - 1">
            Next
        </button>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <ul>
        <li>An easer way to learn about investing and finance.</li>
        <li>All the data you could imagine in the palm of your hand</li>
        <li>Fastresponse times thanks to AngularJS</li>
        <li>Say goodbye to Java EE</li>
    </ul>
</div>
