<div class="col-xs-12">
    <div class="text-center">
    <div id="hcrsl" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#hcrsl" data-slide-to="0" class="active"></li>
        <li data-target="#hcrsl" data-slide-to="1"></li>
        <li data-target="#hcrsl" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/img/hk1.jpg" alt="...">
          <div class="carousel-caption">
            PIC 1
          </div>
        </div>
        <div class="item">
          <img src="/img/hk2.jpg" alt="...">
          <div class="carousel-caption">
            PIC 2
          </div>
        </div>
        <div class="item">
          <img src="/img/hk3.jpg" alt="...">
          <div class="carousel-caption">
            PIC 3
          </div>
        </div>
      </div>
        </div>
    </div>
<!-- **************************************************************** -->

</div>

<div class="col-xs-12 col-sm-6">
    <h4>Why uBest Invest?</h4>
    <ul>
        <li>An easer way to learn about investing and finance</li>
        <li>Our Data is sourced from the Quandl API</li>
        <li>Harness the robustness and power of AngularJS</li>
        <li>Aesthetically pleasing layout provided by Bootstrap</li>
        <li>Business news comes from the New York Times Developer API</li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6">
    <h4>Powered by</h4>
    <ul>
        <li>AngularJS</li>
        <li>Bootstrap</li>
        <li>D3 Charts</li>
        <li>SVG</li>
        <li>JavaScript</li>
        <li>CSS3</li>
        <li>HTML5</li>
        <li>NY Times Developer API</li>
        <li>Quandl API</li>
    </ul>
</div>
