<div class="col-xs-12">

    <div id="hcrsl" class="carousel slide" data-ride="carousel" data-inverval="10000">
  <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#hcrsl" data-slide-to="0" class="active"></li>
            <li data-target="#hcrsl" data-slide-to="1"></li>
            <li data-target="#hcrsl" data-slide-to="2"></li>
        </ol>

  <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/img/hk1.jpg" alt="...">
                <div class="carousel-caption">
                    Learn the difference between Common Stock and Preferred Stock
                </div>
            </div>
            <div class="item">
                <img src="/img/hk2.jpg" alt="...">
                <div class="carousel-caption">Demystify common investing terms</div>
            </div>
            <div class="item">
                <img src="/img/hk3.jpg" alt="...">
                <div class="carousel-caption">Build confidence in the way you invest quickly</div>
            </div>
        </div>
    </div>
<!-- **************************************************************** -->
    <a class="left carousel-control" href="#hcrsl" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#hcrsl" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<!-- ******************************************************************************************* -->
<div class="col-xs-12">
    <p class="pgraphgaptop">&nbsp;</p>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img class="img-responsive"
         src="/img/AngularJS_logo.svg.png"
         alt="AngularJS Logo" >
    <p>We love to take advantage of the robust scalable front end framework that has
    </p>
    <p>
        <a class="btn btn-primary" href="#" role="button">More Information
        <i class="glyphicon glyphicon-chevron-right"></i></a>
    </p>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <img class="img-responsive" src="/img/nytimes_logo.png"
         alt="NY Times Logo">
    <p> The New York Times developer API allows us to have acces to rich content that covers
        various topics
    </p>
    <p>
        <a class="btn btn-primary" href="#" role="button">More Information
        <i class="glyphicon glyphicon-chevron-right"></i></a>
    </p>
</div><!-- /.col-lg-4 -->

<div class="col-xs-12">
    <p class="pgraphgaptop">&nbsp;</p>
</div>
