<div class="col-xs-12">
    <h4>Learn Investing</h4>
    <div id = "xyAxis">
        <div class="pillar"></div>
        <div id = "bar0" class = "motionbar"></div>
        <div id = "bar1" class = "motionbar"></div>
        <div id = "bar2" class = "motionbar"></div>
        <div id = "bar3" class = "motionbar"></div>
        <div id = "bar4" class = "motionbar"></div>
        <div id = "bar5" class = "motionbar"></div>
    </div>
    <p class="pgraphgaptop well">NOTE: This is in no way a complete comprehensive listing of all
    financial terms. This listing of financial terms is to get
you started so you feel can feel more comfortable reading articles about
financial data.</p>

<!--
    <div ng-repeat="entry in vocab">
        <vocab-listing info="entry"></vocab-listing>
    </div>
-->
    <table class="table checkered">
        <tr>
            <th>Word</th>
            <th>Definition</th>
        </tr>
        <tr ng-repeat="entry in vocab">
            <td>{{ entry.word }}</td>
            <td>{{ entry.meaning }}</td>
        </tr>
    </table>
</div>
