<div class="col-xs-12">
    <h4>Learn Investing</h4>
    <div id = "xyAxis">
        <div class="pillar"></div>
        <div id = "bar0" class = "motionbar"></div>
        <div id = "bar1" class = "motionbar"></div>
        <div id = "bar2" class = "motionbar"></div>
        <div id = "bar3" class = "motionbar"></div>
        <div id = "bar4" class = "motionbar"></div>
        <div id = "bar5" class = "motionbar"></div>
    </div>
    <p class="pgraphgaptop well">NOTE: This is in no way a complete comprehensive listing of all
    financial terms. This listing of financial terms is to get
you started so you feel can feel more comfortable reading articles about
financial data.</p>
    <h5 class="pgraphgaptop">Common Stock</h5>
    <p>
    Common stock represents an equity ownership in the company and entitles shareholders the
    right to vote on management issues at the annual shareholder's meeting. Common
    stockholders may, or may not, receive dividends, depending on management's
        decision about distributing profits.
    </p>

    <h5 class="pgraphgaptop">Preferred Stock</h5>
    <p>
    Companies that sell preferred stock are actually offering a blend of a more
    aggressive investment (stock) and a more conservative one (bond). This combination
    means that the price of preferred stock does not fluctuate as much as the price of
    common stock. Another advantage to owning preferred stock is that it almost always
        pays a dividend
    to shareholders. Companies pay dividends to preferred stock shareholders before they pay
    dividends to common-stock shareholders. Dividends accumulate if the company's board of
    directors decides to put a freeze on divvying up profits because it doesn't have
    the financial resources.
    </p>

    <h5 class="pgraphgaptop">Price Apreciation</h5>
    <p>
    If the company you invest in does well and makes money, its stock becomes attractive
        to own, and soon more investors will want to own some of the company that you own.
        That's when supply and demand works in your favor. The greater the demand, the more
        the price is driven up. The price moving up (because more people are buying the
        stock) is known as price appreciation -- your stock increases in value. You'll
        realize a profit, or gain, when you sell stock that has appreciated.

    Say you buy stock for $10 a share, and it grows, or appreciates, to $15. Smart you!
        You earned $5, and the value of your share of stock increased, or appreciated, by 50%.
        The flip side of that is price depreciation, which is another way of saying that the
        price of a stock went down.
    </p>

    <h5 class="pgraphgaptop">Dividends</h5><p>
    Distributing dividend payments is another way for a company to share its profit
    with you. This means that each quarter the company pays you a certain amount of
    money for each share of stock you own. Usually dividend payments are much smaller
    than the price of the stock. For example, a company whose stock price is $15 per
    share might pay a dividend of 4 cents per share each quarter. Many times, dividends
    come at the expense of greater price appreciation, because the company is distributing
    its profits to shareholders rather than reinvesting these profits back into the growth
    of the company. However, companies that pay dividends can be very attractive to
    investors, because they offer a steady stream of income. Whichever you pick -- current
    income (dividends) or longer-term growth (price appreciation) -- as your priority depends
    on what you need.
    </p>
    <hr>
    <div ng-repeat="entry in vocab">
        <vocab-listing info="entry"></vocab-listing>
    </div>
</div>
