<!--Weather Template-->
<h4>Weather Forecast Details</h4>
<label for >Please select a city:</label>
<select id="leftWeatherSelect" class="form-control"
      ng-options="loc.displayName for loc in locations track by loc.stateCityStr"
      ng-model="weatherParams.selectedLocation"
        ng-change="getWeather()">
</select>

<div class="weatherCurrentBox table-responsive"
     ng-if="weather.display_location.city">

    <img class="cntwthicon" ng-src="{{ weather.icon_url }}">

    <span class="weatherLocation">{{ weather.display_location.city }},
    {{ weather.display_location.state }}
    </span>

    <span class="weatherTempf">{{ weather.temp_f }} F</span>

    <table class="table table-striped">
        <tr><td>Feels Like</td><td>{{ weather.feelslike_f }} F</td></tr>
        <tr><td>Wind Speed</td><td>{{ weather.wind_string }}</td></tr>
        <tr><td>Humidity</td><td>{{ weather.relative_humidity }}</td></tr>
        <tr><td>Precipitation</td><td>{{ weather.precip_today_string }}</td></tr>
        <tr><td>UV</td><td>{{ weather.UV }}</td></tr>
    </table>

</div>

<div class="table-responsive" ng-if="threeForecast">
    <h3>Extended Forecast for {{ weather.display_location.city }}</h3>
    <table class="table">
        <tr>
            <th ng-repeat="timeframe in threeForecast" >
                {{ timeframe.date.weekday_short }}
            </th>
        </tr>
        <tr>
            <td ng-repeat="timeframe in threeForecast" >
                <img ng-src="{{ timeframe.icon_url }}">
            </td>
        </tr>
        <tr>
            <td ng-repeat="timeframe in threeForecast" >
                {{ timeframe.high.fahrenheit }}
            </td>
        </tr>
        <tr>
            <td ng-repeat="timeframe in threeForecast" >
                {{ timeframe.low.fahrenheit }}
            </td>
        </tr>
    </table>
</div>
<img class="WULogo" ng-src="img/wundergroundLogo_4c.png">
