<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Available Stock Investments</h4>
            </div>
            <div class="modal-body">
                <select ng-model="reqParams.pair"
                        ng-options="pair.name for pair in listModalArray">
                </select>
                <button type="button"
                        class="btn btn-primary"
                        data-dismiss="modal">
                    Select
                </button>
            </div>
        </div>
    </div>
</div>
