<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Available Stock Investments</h4>
            </div>
            <div class="modal-body">
<!--                <p>{{ listModalArray }} </p>-->
                <select ng-model="selectedItem"
                        ng-options="stock.name for stock in listModalArray">
                </select>
            </div>
        </div>
    </div>
</div>
