<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button"
                        class="close"
                        data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Investment Symbol Lookup</h4>
            </div>
            <div class="modal-body">

                <h4>Select a company</h4>

                <form name="rsSymbolHelp"
                      id="rsSymbolHelp"
                      class="form-group">

                    <select class="form-control"
                            ng-model="reqParams.pair"
                            ng-options="item as item.name for item in investmentsArray track by item.symbol"
                            ng-change="showListModal=false;getGraph(true);"
                            >
                    </select>
                </form>

            </div>
        </div>
    </div>
</div>
