<!--partial-home.html-->
<div class="jumbotron text-center">
    <h2>Portal</h2>
</div>
<div class="col-sm-6 col-md-3 col-sm-offset-3 hidden-xs">
    <a ui-sref="weather" class="thumbnail"><img src="/img/weather.png" ></a>
</div>
<div class="col-sm-6 col-md-3 col-sm-offset-3 hidden-xs">
    <a ui-sref="finance" class="thumbnail"><img src="/img/finance.jpg" ></a>
</div>
<div class="col-xs-12 visible-xs">
        <a ui-sref="weather">WEATHER</a> &nbsp;&nbsp;
    <a ui-sref="finance">FINANCE</a>

</div>
