<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <h4>News</h4>
</div>

<news-box newstype="newsNational"></news-box>
<news-box newstype="newsWorld"></news-box>
<news-box newstype="newsBusiness"></news-box>
<news-box newstype="newsRealEstate"></news-box>
<news-box newstype="newsTech"></news-box>
<news-box newstype="newsSports"></news-box>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <p>&nbsp;</p>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <div class="text-center">
        <img src="/img/poweredby_nytimes_200a.png">
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    <p>&nbsp;</p>
</div>
