<div>
    <h4 class="marketheadings">Business Headlines</h4>
    <table  ng-if="newsNational.length">
        <tr ng-repeat="article in newsNational | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>
    <table  ng-if="newsWorld.length">
        <tr ng-repeat="article in newsWorld | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>
    <table  ng-if="newsBusiness.length">
        <tr ng-repeat="article in newsBusiness | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>
    <table  ng-if="newsRealEstate.length">
        <tr ng-repeat="article in newsRealEstate | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>
    <table  ng-if="newsTech.length">
        <tr ng-repeat="article in newsTech | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>
    <table  ng-if="newsSports.length">
        <tr ng-repeat="article in newsSports | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
                <a href="{{article.url}}"
                   target="_blank">{{ article.title }} </a><br />
                <span class="articleabstract">{{ article.abstract | shorten:130 }}</span>
            </td>
        </tr>
    </table>

</div>

<div class="text-center">
    <button class="smallsizebutton" ng-hide="currentPage == 0"
            ng-click="currentPage = currentPage - 1">
        <i class="glyphicon glyphicon-triangle-left"></i>
    </button>
    <span>{{currentPage+1}} of {{numberOfPages()}}</span>

    <button class="smallsizebutton" ng-click="currentPage = currentPage + 1"
            ng-hide="currentPage >= bizarticles.length/pageSize - 1">
        <i class="glyphicon glyphicon-triangle-right"></i>
    </button>
</div>
