<!--partial-home.html-->
<div class="jumbotron text-center">

    <h2>Metuchen Business Listing</h2>

    <p>This page demonstrates <span class="text-info">nested views</span>.</p>

<!--
    When linking to a nested view, we are going to use dot denotation:
        ui-sref=".list"
        and
        ui-sref=".paragraph".

    These will be defined in our Angular file and once we set it up there, we will
    inject into our new <div ui-view></div>.
-->

    <a ui-sref=".simpleList" class="btn btn-primary">Simple List</a></a>

    <a ui-sref=".weather" class="btn btn-info">Metuchen Weather</a>

</div>
<div ui-view></div>
