<div class="col-xs-12">
    <h4>Terms of Use</h4>
    <p>By using any part of this website you, the user(s) of
        ubestinvest.com, agree to the following terms and conditions.
        When referring to this &quot;site&quot;,
        &quot;website&quot;, or &quot;we&quot;, it refers to
        <a href="http://www.ubestinvest.com" target="_blank">ubestinvest.com</a>
        and the owner, Tambe Tech.
        When referring to &quot;you&quot; or &quot;user&quot; we are refering to
        anyone who uses ubestinvest.com in any way.
    </p>
    <p>
        PRIVACY
        <ul>
            <li>This site does not keep track or store your data or preferences</li>
            <li>This site does not currently store cookies on your device</li>
            <li>This site may at any point in the future store cookies on your device
                without any notice of any type to you</li>
        </ul>
    </p>
    <p>
        FINANCIAL
        <ul>
            <li>We are not responsible for any losses incurred with any investments that you posess</li>
            <li>This site is strictly for educational purposes</li>
            <li>The past performance of any investment such as stocks, mutual funds, bonds, etc.
            do not predict future performance in any way</li>
        </ul>
    </p>
    <p>
        LEGAL
        <ul>
            <li>Neither this site nor Tambe Tech are responsible for anything that happens
            to you or your data</li>
            <li>We reserve the right to make changes to these terms &amp; conditions at
            any time without any notice of any type to you</li>
        </ul>
    </p>
</div>
