<!-- DISPLAYS THE WEATHER FOR A SPECIFIED CITY -->
<div class="row">

    <div class="col-xs-10 col-xs-offset-1">

        <h3>Weather Forecast Details</h3>

        <div class="form-inline">

            <div class="form-group">

                <label for >Select City:</label>

                <select id="leftWeatherSelect"
                        class="form-control"
                        ng-options="loc.displayName for loc in locations"
                        ng-model="weatherParams.selectedLocation"
                        ng-change="getWeather()">

                </select>

            </div>

            <button type="button"
                    class="btn btn-primary"
                    ng-click="getWeather()">
                Go
            </button>

        </div>

        <div class="weatherCurrentBox table-responsive"
             ng-if="weather.display_location.city">

            <img class="cntwthicon hidden-xs" ng-src="{{ weather.icon_url }}">

            <span class="weatherLocation">{{ weather.display_location.city }},
            {{ weather.display_location.state }}
            </span>

            <span class="weatherTempf">{{ weather.temp_f }} F</span>

            <table class="table table-striped">
                <tr><td>Feels Like</td><td>{{ weather.feelslike_f }} F</td></tr>
                <tr><td>Wind Speed</td><td>{{ weather.wind_string }}</td></tr>
                <tr><td>Humidity</td><td>{{ weather.relative_humidity }}</td></tr>
                <tr><td>Precipitation</td><td>{{ weather.precip_today_string }}</td></tr>
                <tr><td>UV</td><td>{{ weather.UV }}</td></tr>
            </table>
        </div>

        <div class="table-responsive" ng-if="threeForecast">

            <span class="weatherLocation">3 Day Forecast</span>

            <table class="table">
                <tr>
                    <th ng-repeat="timeframe in threeForecast" class="centertext">
                        {{ timeframe.date.weekday_short }} <br />
                    </th>
                </tr>
                <tr class="hidden-xs">
                    <td ng-repeat="timeframe in threeForecast" class="centertext">
                        <img ng-src="{{ timeframe.icon_url }}">
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="timeframe in threeForecast" class="centertext">
                        {{ timeframe.high.fahrenheit }}
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="timeframe in threeForecast" class="centertext">
                        {{ timeframe.low.fahrenheit }}
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="timeframe in threeForecast" class="centertext">
                        {{ timeframe.qpf_allday.in}} in.
                        <i class="glyphicon glyphicon-tint"></i>
                        <span ng-if="timeframe.snow_allday.in">
                            <br />
                            {{ timeframe.snow_allday.in }}
                            <i class="glyphicon glyphicon-asterisk"></i>
                        </span>

                    </td>
                </tr>
            </table>
        </div>
        <img class="WULogo" ng-src="img/wundergroundLogo_4c.png">


    </div>
</div>



<!-- ################ OLD CODE FOR MULTIPLE 'SECTIONS' ################### -->
<!--<div class="row">-->
<!-- LEFT COLUMN -->
<!--
    <div class="col-xs-10 col-xs-offset-1">
        <div ui-view="leftWeather"></div>
    </div>
-->

<!-- RIGHT COLUMN -->
<!--
    <div class="col-sm-6  col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div ui-view="rightWeather"></div>
    </div>
-->
<!--</div>-->
